@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 hsla(0, 0%, 0%, 0.2);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  border: none;
}

/* Pages */
/* Header */

.navigation {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation-logo {
  max-width: 150px;
  margin-right: 28px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  width: 150px;
  margin: 0;
  margin-right: 20px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.button-header {
  width: 160px;
}


.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

/* Main */

.main-container {
  flex-grow: 1;
}

/* Hero */

.hero {
  background-image:
    url("../images/hero/hero-mask.png"),
    url("../images/hero/hero-background.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-color: #756157;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantages-container {
  width: 650px;
  margin: 0 auto;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-lead {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  background-color: hsla(204, 48%, 67%, 0.12);
}

.advantages-item-accent {
  background-color: hsla(204, 48%, 67%, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item {
  width: 400px;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide-container {
  width: 400px;
}

.advantages-item-wide .advantages-item-image {
  width: 800px;
}

.advantages-item-wide .advantages-item-title {

  color: #ffffff;
}

.advantages-item-image {
  width: 100%;
  height: auto;
}

/* Services */
.services {
  text-align: center;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-lead {
  font-size: 22px;
  line-height: 26px;
}

.services-item-accent {
  background-color: hsla(204, 48%, 67%, 0.12);
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-container {
  width: 505px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

/* Search */
.search {
  text-align: center;
}

.search-container {
  width: 592px;
  margin: 0 auto;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-lead {
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/* Subscription */
.subscription {
  text-align: center;
  background-image: url("../images/subscribe/subscribe-background.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscription-container {
  width: 684px;
  margin: 0 auto;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}

.button-subscription {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

/* Footer */
.page-footer-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-htmlacademy-link {
  width: 115px;
}

/* Page catalog */

.inner-container {
  background-image: url("../images/filter/filter-background.jpg");
  background-color: #756157;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* Filter */

.filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.filter-group-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.filter-group-type {
  width: 150px;
  margin-right: 140px;
}

.filter-group-price {
  width: 288px;
  margin: 0;
  padding: 0;
}

.control {
  color: #ffffff;
  line-height: 23px;
}

.control-label-number {
  color: #000000;
  opacity: 0.3;
}

.filter-buttons {
  width: 190px;
  margin-left: auto;
}

.button-submit {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

/* Sort */

.sort-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.sort-message {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-message {
  width: 400px;
  margin-right: auto;
}

.select-control {
  width: 290px;
}

.sort-buttons {
  width: 160px;
  margin-left: 70px;
}

/* Card */
.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card-price {
  font-weight: 400;
}

.batton-favorites {
  background-color: #82b3d3;
}

.card-rating {
  font-size: 16px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

/* Pagination */
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}
